# Node and general configuration
node_modules/
*.log
npm-debug.log*

# Nest.js / Backend specific
/backend/dist/
/backend/node_modules/
/backend/package-lock.json

# Vite / Frontend specific
/frontend/node_modules/
/frontend/package-lock.json

# dotenv environment variables file
*.env
*.env.test

# IDE-specific
.vscode/
.DS_Store